body{
    font-family:Arial;
    margin:0;
    background:#ffff;
    scroll-behavior:smooth;
    overflow-x: hidden;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    padding: 15px 40px;
    color:#4caf50;
    background-color: rgb(255, 255, 255);
    top: 0;
    z-index: 10;

}
.headerTitulo{
    display:flex;
    align-items: center;
    gap:20px;
    cursor: pointer;
}
.headerTitulo:hover{
    color: #2E7D32;
}
.headerButton{
    display:flex;
    align-items: center;
    gap:20px;
    padding-right: 20vh;
    
}
.cadastroLogin{
    display:flex;
    align-items: center;
    gap:20px;
     
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav button{
    background-color: #4caf50;
    border:none;
    border-radius: 7px;
    height: 5vh;
    width: 15vh;
    cursor:pointer;
    color:white;
    font-weight: bold;
}
nav button:hover{
     background-color: #2d8330
}
.cadastro{
    background-color:rgb(59, 63, 59);
}
.cadastro:hover{
    background-color: rgb(31, 31, 31);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding:20px;
    background:white;
    color:#4caf50;
    font-weight:bold;
}

.welcome{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2E7D32,#4CAF50 );
    border:none;
    padding-bottom: 50px;
    width: 100%;
    color:white;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    z-index: 1;
    padding-top: 5vh;
}

.welcome button{
    background-color: #4caf50;
    border:solid 1px white;
    border-radius: 5px;
    height: 7vh;
    width: 19vh;
    cursor:pointer;
    color:white;
    font-weight:normal;
    font-size:medium;
}
.welcome button:hover{
    background-color: #2d8330
}
.welcome .cadastro{
    background-color:rgb(59, 63, 59);
}
.welcome .cadastro:hover{
    background-color:rgb(31, 31, 31);
}
.dicaSection{
    display: flex;
    flex-direction: column;
    background-color: white;
    border:none;
    height: 90vh;
    width: 100%;
    color:#4caf50;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-bottom: 2vh solid rgb(243, 241, 241);
}
.dicaSection h1{
    font-size: 15vh;
}
.dicaSection p{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    font-size: 3vh;
}
.descarteSection{
    display: flex;
    flex-direction: column;
    background-color: white;
    border:none;
    height: 90vh;
    width: 100%;
    color:#4caf50;
    justify-content: left;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-bottom: 2vh solid rgb(243, 241, 241);
}
.selectTipo{
    padding-left: 15vh;
    display: flex;
    flex-direction: column;
    border:none;
    width: 100%;
    justify-content: left;
    align-items: left;
    justify-items: center;
    align-content: center;
    padding-bottom: 2vh;
}
.selectTipo select{
    width: 20%;
    height: 5vh;
    text-align: center;
}
.denunciaRequisicao{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#2E7D32,#4CAF50 );
    border:none;
    height: 110vh;
    width: 100%;
    color:white;
    justify-content: left;
    align-items: left;
    padding-left: 15vh;
    border-bottom: 2vh solid rgb(243, 241, 241);
}
.denunciaRequisicao h1{
    font-size: 9vh;
}
.denunciaRequisicao p{
    font-size: 2.4vh;
}
.denunciaRequisicao button{
    background-color:rgb(59, 63, 59);
    border: none;
    border-radius: 7px;
    height: 5vh;
    width: 15vh;
    cursor:pointer;
    color:white;
    font-weight: bold;
}
.denunciaRequisicao button:hover{
   background-color:rgb(31, 31, 31); 
}
.about{
    display: flex;
    flex-direction: row;
    background-color: white;
    border:none;
    height: 110vh;
    width: 100%;
    color:#4caf50;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-bottom: 2vh solid rgb(243, 241, 241);
    overflow-wrap: break-word;

}
.imgFamily{
    background-image: url(/img/family1.png);
    width: 70vh; 
    height: 60vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.aboutText{
    width: 40%;
    gap:10vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items:left;
    gap: 30px;
    width:40%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 15px;
    z-index: 1;
    border: 1px solid rgb(61, 60, 60);
    color: black;
}
form input{
    width: 100%;
    border-radius: 5px;
    height: 7vh;
    border: solid 1px rgb(204, 202, 202);
}
form input::placeholder{
    padding:20px;
}

.container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.container button{
    width: 100%;
    background-color: rgb(59, 63, 59);
}
.container button:hover{
    background-color:rgb(31, 31, 31);
}
.retornar{
    display: flex;
    flex-direction: row;
    width: 95%;
}
.retornar button {
    height: 4vh;
}
.observacao{
    height: 40vh;
}
label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    height: 40vh;
    border: solid 1px rgb(204, 202, 202);
    color: black;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}
label img{
    border: solid 5px black;
    border-radius: 100px;
}
#imagem{
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}